.contact-form, .enquiry-box {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
}

.contact-form h2, .enquiry-box h2 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.submit-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #902815;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.submit-button:hover {
    background-color: #e55347; 
}

address {
    line-height: 1.6;
}
